
:root {
    --primary: #236281;
    --secondary: #b4b4b4;
    --accent: #1c4e67;
    --headerHeight: 96px;
}


#app {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: var(--headerHeight);
    align-items: center;
    background-color: var(--secondary);
}

#aside {
    
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--primary);
    border: 2px solid black;
    width: 0px;
    height: 100vh;
    transition: width 0.1s ease-in-out;
    z-index: 5;
    display: flex;
    flex-direction: center;
    flex-direction: column;
}

#aside.active {
    width: 400px;
}

body {
    margin: 0px;
    background-color: var(--secondary);
    font-family: sans-serif;
}


.btn {
    padding: 8px;
    color: white;
    background-color: var(--accent);
    font-weight: bold;
    font-size: 14pt;
}

#closeBtn {
    font-weight: bold;
    font-size: 18pt;
    border: 2px solid black;
    border-radius: 5px;
    margin: 16px;
    width: 32px;
    height: 32px;
}

.column {
    display: flex;
    flex-direction: column;
}

.currentLocation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 60vw;
    background-color: var(--primary);
    border: 2px solid black;
    border-radius: 5px;
}

.customForm .row {
    width: 100%;
}

.formField {
    padding: 8px;
    margin-bottom: 16px;
}

.formFieldContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formLabel {
    color: white;
}

#header {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--headerHeight);
    z-index: 1;
    padding: 16px;
}

ion-icon {
    font-size: 24px;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: white;
}

.loc {
    font-weight: bold;
    padding: 8px;
}

#locList {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 64px;
    width: auto;
}

.logoText {
    color: white;
}

#modal {
    box-sizing: border-box;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#otherLocContainer {
    flex: 1;
    justify-content: center;
}

#otherLocContainer > input {
    padding: 8px;
    font-size: 14pt;
    border-radius: 5px;
}


.plannedLocations {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.row {
    display: flex;
    justify-content: space-between;
}

.rowWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.staffCard {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
}

@media screen and (width < 1000px) {
    .staffCard {
        width: 50%;
    }
}

@media screen and (1000px <= width < 1200px) {
    .staffCard {
        width: 33%;
    }
}

@media screen and (1200px <= width < 1500px) {
    .staffCard {
        width: 25%;
    }
}

@media screen and (width >= 1500px) {
    .staffCard {
        width: 20%;
    }
}

.staffCard p {
    margin: 0px;
}

.staffName {
    font-weight: bold;
    min-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.spacer {
    flex: 1;
}

.visitorCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}