
:root {
    --primary: rgb(6, 99, 6);
    --secondary: #b4b4b4;
    --headerHeight: 96px;
}


#app {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: var(--headerHeight);
    align-items: center;
    background-color: var(--secondary);
}

#aside {
    
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--primary);
    border: 2px solid black;
    width: 0px;
    height: 100vh;
    transition: width 0.1s ease-in-out;
}

#aside.active {
    width: 400px;
}

body {
    margin: 0px;
    background-color: var(--secondary);
}

#closeBtn {
    font-weight: bold;
    font-size: 18pt;
    border: 2px solid black;
    border-radius: 5px;
    margin: 16px;
    width: 32px;
    height: 32px;
}

.currentLocation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--headerHeight);
    z-index: 1;
    padding: 8px;
}

ion-icon {
    font-size: 24px;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: white;
}

.loc {
    font-weight: bold;
    padding: 8px;
}

#locList {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 64px;
    width: auto;
}

.logoText {
    color: white;
}

.plannedLocations {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.row {
    display: flex;
    justify-content: space-between;
}

.rowWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.staffCard {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
}

@media screen and (width < 1000px) {
    .staffCard {
        width: 50%;
    }
}

@media screen and (1000px <= width < 1200px) {
    .staffCard {
        width: 33%;
    }
}

@media screen and (1200px <= width < 1500px) {
    .staffCard {
        width: 25%;
    }
}

@media screen and (width >= 1500px) {
    .staffCard {
        width: 20%;
    }
}

.staffCard p {
    margin: 0px;
}

.staffName {
    font-weight: bold;
    min-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spacer {
    flex: 1;
}
