
:root {
    --primary: rgb(6, 99, 6);
}


#app {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: 64px;
}

#aside {
    
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--primary);
    border: 2px solid black;
    width: 0px;
    height: 100vh;
    transition: width 0.1s ease-in-out;
}

#aside.active {
    width: 400px;
}

body {
    margin: 0px;
}

#closeBtn {
    font-weight: bold;
    font-size: 18pt;
    border: 2px solid black;
    border-radius: 5px;
    margin: 16px;
    width: 32px;
    height: 32px;
}

#header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
}

ion-icon {
    font-size: 24px;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: white;
}

.loc {
    font-weight: bold;
    padding: 8px;
}

#locList {
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    justify-content: space-between;
}

.staffCard {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    min-width: 400px;
    flex: 1;
}

.staffCard p {
    margin: 0px;
}

.staffName {
    font-weight: bold;
}
